.custom-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
  cursor: pointer;
  border-radius: 0 20px 20px 0; 
}

.custom-scrollbar__thumb {
  position: absolute;
  width: 100%;
  background: #2800aa;
  cursor: grab;
  transition: background 0.2s ease;
}

.custom-scrollbar__thumb:hover {
  background: #1f0080;
}

.custom-scrollbar__thumb:active {
  cursor: grabbing;
  background: #150050;
}